
{{>header}}

<title>Achievements</title>
<link rel="stylesheet" href="/css/achievements&events.css">

<div class="container admin-container" id="achievementsAndevents">

    <div class="post">
	 
	      <h2 class="text-center">Achievements and events list</h2>
	      <div class="date  text-center">Events uploaded in YouTube will have a ( * ) marked</div>
      <hr>

      <div class="CustomList">
        <ul>
              <li><h6>Guest performance at Trics*</h6></li>
              <li><h6>Interview by pulse*</h6></li>
              <li><h6>Interview in vasantahm TV ( mamma hits )*</h6></li>
              <li><h6>Youth with talent finalist ( frizzybeat )*</h6></li>
              <li><h6>Sri Lanka’s got talent semi finalists*</h6></li>
              <li><h6>FIA 2018 winners*</h6></li>
              <li><h6>Tantalize 2017 winners*</h6></li>
              <li><h6>Noise 2017 winner ( frizzybeat )</h6></li>
              <li><h6>Noise 2018 guest performer*</h6></li>
              <li><h6>VEVO 2018 judge ( frizzybeat )</h6></li>
              <li><h6>Center stage 2018 guest performance*</h6></li>
              <li><h6>Namma hits ( vasantham tv interview )*</h6></li>
              <li><h6>backstreet music festival*</h6></li>
              <li><h6>TNL onstage finals( * )</h6></li>
              <li><h6>Vampire night 2018 - Alethea Halloween party : DJ and Beatbox*</h6></li>
              <li><h6>CHOKOLATE center stage finals 2018*</h6></li>
              <li><h6>OSCARS Night 2018 - mercury batch party : DJ and beatbox*</h6></li>
              <li><h6>Capital FM , grand fiesta 2018</h6></li>
              <li><h6>TNL onstage radio interview</h6></li>
              <li><h6>TNL Onstage Fiesta performance</h6></li>
              <li><h6>Carols at Softlogic life ( 2018 )</h6></li>
              <li><h6>LB got talent 2018 finals*</h6></li>
              <li><h6>Celebrations of milestones ,mid year conference of division C and M 2018</h6></li>
              <li><h6>RI Diwali 2018</h6></li>
              <li><h6>Deadly hallows 2018</h6></li>
              <li><h6>one StagE 2018</h6></li>
              <li><h6>Interview with the bloggers</h6></li>
              <li><h6>Ambience 2018 (Thomas radio club event)</h6></li>
              <li><h6>Younify’18</h6></li>
              <li><h6>Jingles ‘18</h6></li>
              <li><h6>Carols at cafe Arcadia</h6></li>
              <li><h6>Architect’19</h6></li>
              <li><h6>Colombo city center women’s market 2019</h6></li>
              <li><h6>Hot dog showdown 2019</h6></li>
              <li><h6>No diggity cover</h6></li>

        </ul>
       
      </div>
    </div>

</div>

</body>
 {{>footer}}
</html>