
{{>header}}

<title>Gallery</title>

<div class="container admin-container">

    <h1 class="mt-4 mb-3">Admin Panel
      <small>Edit video link</small>
    </h1>

    <div class="row">

      <div class="col-lg-8 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.videoID}}" allowfullscreen></iframe>
        </div>
        
      </div>

      <div class="col-lg-4 mb-4">

        <div class="d-none d-lg-block alert alert-warning" role="alert">
          <h4 class="alert-heading">Note!</h4>
            <p class="mb-2">Try to make video title short and sweet.</p>
            <p class="mb-2">Make sure to paste the correct youtube video URL.</p>
        </div>

            <form class="needs-validation" action="/gallery/videos/{{video.id}}?_method=PATCH" method="POST" novalidate>
                
                <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Video title<span class="required">*</span></label>
                    <input type="text" class="form-control" value="{{video.title}}" name="title" required>
                    <div class="invalid-feedback">
                    Please provide a video title.
                    </div>
                </div>
                </div>

                <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom03">Video URL<span class="required">*</span></label>
                    <input type="text" class="form-control" value="https://www.youtube.com/watch?v={{video.videoID}}" name="videoID" required>
                    <div class="invalid-feedback">
                    Please provide a embed code.
                    </div>
                </div>
                </div>
            
                <div class="col text-center">
                <button type="submit" class="btn btn-dark btn-md">Update video link</button>
                </div>
            </form>
            
            <br>
            <div class="float-right">
              <a href="/gallery/videos">Back to Gallery</a>
            </div>       
      </div>
    </div>
</div>

  {{>footer}}

<script src="/js/form-validation.js"></script>

</body>
</html>