
{{>header}}

<title>Contact us</title>

     <div class="container col-lg-8 mx-auto contact-form">

            <form class="needs-validation" action="/clients" method="POST" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                <label for="validationCustom01">Full name<span class="required">*</span></label>
                <input type="text" class="form-control" placeholder="Avishka Jayawardane" name="fullName" required>
                <div class="invalid-feedback">
                    Please provide a your full name.
                </div>
                </div>
                <div class="col-md-6 mb-3">
                <label for="validationCustom03">Email<span class="required">*</span></label>
                <input type="email" class="form-control" placeholder="avishkafernando@example.com" name="email" required>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
                </div>
            </div>

            <div class="form-row">

                <div class="col-md-6 mb-3">
                <label for="validationCustom03">Contact Number<span class="required">*</span></label>
                <input type="number" class="form-control" placeholder="0712345678" onKeyPress="if(this.value.length==10) return false;" name="contactNumber" required>
                <div class="invalid-feedback">
                    Please provide a valid contact number.
                </div>
                </div>

                <div class="col-md-6 mb-3">
                <label for="validationCustom03">Service type<span class="required">*</span></label>
                {{#if serviceType}}
                    <select class="form-control" name="serviceType" readonly>  
                {{else}}
                    <select class="form-control" name="serviceType" required>  
                {{/if}}                   
                        {{#if serviceType}}
                        <option value="{{serviceType}}">{{serviceType}}</option>
                        {{else}}
                        <option value="">Select service type</option>
                        {{/if}}
                        <option value="Beatbox">Beatbox</option>
                        <option value="DJ">DJ</option>
                        <option value="Acapella">Acapella</option>
                        <option value="Photography">Photography</option>
                        <option value="Audio production">Audio production</option>
                        <option value="Video production">Video production</option>
                        <option value="Graphic designing">Graphic designing</option>
                        <option value="Sounds and lights">Sounds and lights</option>
                      </select>  
                <div class="invalid-feedback">
                    Please select the service type.
                </div>
                </div>
        
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                <label for="validationCustom03">Message<span class="required">*</span></label>
                <textarea class="form-control" name="message" rows="5" placeholder="Enter your message" maxlength="500" required></textarea>
                <div class="invalid-feedback">
                    Please provide a proper message.
                </div>
                </div>
            </div>

            <div class="col text-center">
                <button class="btn btn-dark" type="submit">Send</button>
            </div>
            </form>
    </div>


</body>
<script src="/js/form-validation.js"></script>

 {{>footer}}
</html>