        <footer class="py-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 item">
                        <h3>Navigate</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/items">Shop</a></li>
                            <li><a href="/gallery/photos">Gallery</a></li>
                            <li><a href="/achievements">Achievements</a></li>
                            <li><a href="/contact-us">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 item">
                        <h3>If you are quick</h3>
                        <ul>
                            <li>011-1234567</li>
                            <li>www.blaze.lk</li>
                            <li>No-88 hubuyagala colombo 7</li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-3 item">
                        <h3>Blaze</h3>
                        <p>Welcome to Blaze.lk, the largest beatbox community in Sri Lanka! We mainly focus on your entertainment and keep a smile on your face.</p>

                    </div>
                    </div>
                     <div class="text-center">
                        <div class="col item social">
                            <a href="https://www.facebook.com/blazebbx/"><i class="icon ion-social-facebook"></i></a>
                            <a href="https://www.youtube.com/channel/UCQ9nZ6DN1oZnYPNxiYzMznA"><i class="icon ion-social-youtube"></i></a>
                            <a href="https://www.instagram.com/blaze_bbx/"><i class="icon ion-social-instagram"></i></a>
                        </div>
                    </div>
                        <p class="copyright">Blaze 2020 All Rights Reserved</p>
                        <p class="copyright">Powered by <strong>BlackCoffee</strong></p>
                            
            </div>
        </footer>
<a id="button"></a>     
<script src="/js/backToTop.js"></script>   

         
