section {
	padding: 80px 0;
}
.contact-form {
	margin: 20px 0;
	width: 25%;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 35vh;
}

#button {
	display: inline-block;
	background-color: #343a40;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
	background-color: #007bffcf;
}
#button:active {
	background-color: #555;
}
#button.show {
	opacity: 1;
	visibility: visible;
}

@media (min-width: 500px) {
	#button {
		margin: 30px;
	}
}

.admin-container {
	height: auto;
	margin-bottom: 20%;
}

.admin-container a:hover {
	text-decoration: none;
}

.margin-top {
	margin-top: 2%;
}

.empty {
	z-index: 1;
	position: relative;
	text-align: center;
	margin-top: 20vh;
	margin-bottom: 55vh;
}

.login {
	width: 25%;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 37vh;
}

.light-section {
	background-color: #f3f3f3 !important;
}

.required {
	color: red;
}
